@use '../../../styles/utils' as *;

.container {
  display: none;
  height: 100%;
  padding: 0;

  @include mq('tablet') {
    display: flex;
  }
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;

    @include mq('desktop') {
      gap: 4rem;
    }
  }
