$clr-secondary: #75767f;
$clr-icons: #4a4d58;
$clr-elements: #3b3e4a;
$clr-surface2: #323542;
$clr-surface1: #161827;
$clr-black: #0f1121;
$clr-white: #f1f2f9;
$clr-accent: #905bff;
$clr-green: #27ae60;
$clr-red: #eb5757;

@font-face {
  font-family: Mont;
  src: url(../../../public/fonts/Mont-Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Mont;
  src: url(../../../public/fonts/Mont-SemiBold.otf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Mont;
  src: url(../../../public/fonts/Mont-Bold.otf);
  font-style: normal;
  font-weight: 800;
}

$breakpoints: (
  tablet: 640px,
  desktop: 1200px,
  desktop-lg: 1440px,
);
