@use '../../../styles/utils/' as *;

.link {
    @include text(0.75rem, 800, $clr-secondary, 11px);

    letter-spacing: 0.04em;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: $clr-white;
    }
  }

.active {
  color: $clr-white;

  &::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $clr-white;
    bottom: 0;
  }
}
